body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:846px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:269px;
  top:-53px;
  width:374px;
  height:780px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:780px;
}
#u2 {
  position:absolute;
  left:2px;
  top:382px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:29px;
  top:243px;
  width:67px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:5px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:185px;
  top:507px;
  width:4px;
  height:36px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:256px;
  top:512px;
  width:4px;
  height:27px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:27px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:295px;
  top:53px;
  width:320px;
  height:568px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u10 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:321px;
  top:511px;
  width:4px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:28px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:123px;
  top:387px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:93px;
  top:331px;
  width:70px;
  height:11px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:11px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:91px;
  top:329px;
  width:17px;
  height:17px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:755px;
  top:301px;
  width:70px;
  height:70px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:777px;
  top:323px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:170px;
  top:178px;
  width:570px;
  height:320px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:320px;
}
#u24 {
  position:absolute;
  left:2px;
  top:152px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:203px;
  top:195px;
  width:91px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:694px;
  top:454px;
  width:40px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
